@media screen and (min-width: 60rem) {
  /*--------------------- Semantic Styles ---------------------*/

  /*--------------------- Header Styles ---------------------*/

  /*--------------------- Nav Styles ---------------------*/

  /*--------------------- Main Styles ---------------------*/
  main {
    width: 60%;
    margin: 0 auto;
  }
  /*--------------------- Footer Styles ---------------------*/

  /*--------------------- Class Styles ---------------------*/
  .logo {
    width: 200px;
  }

  /*--------------------- ID Styles ---------------------*/

}